<p>A new student has registered with the following details:</p>
<ul>
  <li><strong>Full Name:</strong> {{ user_data.full_name }}</li>
  <li><strong>Email Address:</strong> {{ user_data.email }}</li>
  <li><strong>Mobile Number:</strong> {{ user_data.mobile_number }}</li>
  <li><strong>Stream:</strong> {{ user_data.stream }}</li>
  <li><strong>Joining Year:</strong> {{ user_data.joining_year }}</li>
  <li><strong>Passing Year:</strong> {{ user_data.passing_year }}</li>
</ul>
